{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "extends": [
    "airbnb",
    "bliss"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "compat/compat": "error",
    "flowtype-errors/show-errors": "error",
    "fp/no-arguments": "off",
    "fp/no-class": "off",
    "fp/no-delete": "off",
    "fp/no-events": "off",
    "fp/no-get-set": "off",
    "fp/no-let": "off",
    "fp/no-loops": "off",
    "fp/no-mutating-assign": "off",
    "fp/no-mutating-methods": "off",
    "fp/no-mutation": "off",
    "fp/no-nil": "off",
    "fp/no-proxy": "off",
    "fp/no-rest-parameters": "off",
    "fp/no-this": "off",
    "fp/no-throw": "off",
    "fp/no-unused-expression": "off",
    "fp/no-valueof-field": "off",
    "import/no-unresolved": "error",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["./test/*.js", "./test/**/*.js", "./*.js", "./app/*.dev.js", "./app/**/*.dev.js"],
        "peerDependencies": ["./test/*.js", "./test/**/*.js", "./*.js", "./app/*.dev.js", "./app/**/*.dev.js"],
        "packageDir": "./"
      }
    ],
    "no-console": "off",
    "promise/avoid-new": "off",
    "promise/no-native": "off",
    "react/sort-comp": ["error", {
      "order": ["type-annotations", "constructor", "static-methods", "everything-else", "lifecycle", "render"]
    }],
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": "off",
    "react/prop-types": [0, {"skipUndeclared": true}]
  },
  "plugins": [
    "flowtype",
    "flowtype-errors",
    "import",
    "promise",
    "compat",
    "react"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.eslint.js"
      }
    }
  }
}
