.loginSideBar {
  width: 18%;
  height: 100%;
  left: 0;
  top: 0;
  border-width: 0px 1px 0px 0px;
  border-color: #ccc;
  border-style: solid;
  position: fixed!important;
  margin: auto;
  white-space: nowrap;
  overflow: hidden;
}

.loginSideBar ul {
  padding: 0 0 0 1em;
}

.loginSideBar li a {
  display: block;
  color: black;
}

.loginSideBar li .selectedSavedDatabase {
  background-color: #D8D8D8;
}

.loginSideBar p {
  opacity: 0.35;
  font-size: 80%;
  text-align: center;
}
