.login {
  left: 15%;
  height: 100%;
  width: 82%;
  position: fixed!important;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.login .controls {
  width: 100%;
}

.login .versionNum {
  font-size: 80%;
  color: #b3b3b3;
  margin-top: -1em;
}

.login form {
  width: 28%;
  display: flex;
  flex-flow: column;
  align-content: center;
  height: 55%;
}

.login input[type=text] {
  margin: 1em 0;
  padding: .8em 1em;
  width: 100%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.login input[type=submit] {
  margin: 1em 0;
  height: 2em;
  width: 50%;
  background-color: #428bca;
  border: 1px solid #3277b3;
  border-radius: 4px;
  color: white;
  transition: .2s ease-in-out
}

.login input[type=submit]:hover,
.login button:hover {
  background-color: #3277b3;
  border: 1px solid #275d8b;
}

.login button {
  margin: 1em 0;
  height: 2em;
  width: 50%;
  background-color: #428bca;
  border: 1px solid #3277b3;
  border-radius: 4px;
  color: white;
  transition: .2s ease-in-out
}
